.filter-expand {
	border-radius: 4px;
	background-color: #082b84;
	color: white;
	padding: 10px;
	font-size: 14px;
	font-weight: bold;
	width: 200px;
	height: 34px;
	z-index: 4;
	top: 25px;
	right: 50px;
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: all 1.5s ease-in-out;

	span {
		color: white;
		background-color: white;
		width: 13px;
		height: 3px;
	}

	@media (max-width: 800px) {
		width: 100px;
	}

	@media (max-width: 500px) {
		width: 80px;
	}
}

.filter {
	border-radius: 5px;
	border: 2px solid blue;
	padding: 1rem 1rem;
	/* padding-top: 20px; */
	/* padding-left: 12px; */
	/* padding-right: 12px; */
	/* padding-bottom: 5px; */
	background-color: rgb(228, 228, 228);
	width: 13rem;
	position: absolute;
	z-index: 4;
	top: 59px;
	right: 50px;
	/* transition: all 1s ease-out; */
	border: 2px solid #082b84;

	h4 {
		letter-spacing: 0.1rem;
		padding: 0.1rem;
		/* text-align: center; */
		font-weight: 600;
	}

	.select-village {
		display: block;
		font-size: 14px;
		color: rgba(0, 0, 0, 0.87);
		padding: 5px;
		width: 100%;
		max-width: 100%;
		box-sizing: border-box;
		border: 2px solid #aaa;
		border-radius: 10px;
		background-color: #fff;
	}

	.pump-type {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	p {
		margin-right: 20px;
	}
}
