.search {
	// margin: 60px;
	position: absolute;
	z-index: 3;
	top: 25px;
	left: 250px;
	width: 280px;
	height: 30px;

	.icon {
		position: relative;
		font-size: 1.3rem;
		top: 0.5rem;
		left: 5.1rem;
		/* z-index: 6; */
		z-index: 3;
		@media (max-width: 700px) {
			left: 0.5rem;
		}
	}

	@media (max-width: 800px) {
		top: 1;
		// left: 120px;
		// width: 240px;
	}

	@media (max-width: 500px) {
		left: 2rem;
		width: 2rem;
	}

	input {
		position: relative;
		top: 0;
		left: 3.5rem;
		width: 15rem;
		height: 2.2rem;
		border: 2px solid #082b84;
		border-radius: 7px;
		padding-left: 1.5rem;
		font-size: 13px;
		color: #7e7e7e;
		background-color: white;
		/* background-image: url(https://res.cloudinary.com/dfulxq7so/image/upload/v1573052834/698627-icon-111-search-512_lxvbpg.png); */
		/* background-position: 10px 10px; */
		/* background-repeat: no-repeat;*/
		@media (max-width: 700px) {
			left: -1rem;
			width: 16rem;
			font-size: 10px;
		}
	}

	.filtered {
		background-color: white;
		width: 243px;
		padding-left: 6px;

		h2 {
			font-size: 14px;
		}
	}

	button {
		float: right;
		padding: 6px 10px;
		margin-top: 8px;
		margin-right: 16px;
		background: #ddd;
		font-size: 17px;
		border: none;
		cursor: pointer;
	}
}
